$icon-font-path: "/bower_components/sass-bootstrap/fonts/"

@import sass-bootstrap/lib/bootstrap

a
  color: #e1e7f4

@mixin mainButton
  background-color: #272f45
  border-radius: 7px
  background-clip: padding-box
  border: 1px solid #000
  background-image: -webkit-linear-gradien(top, #383e56 0%, #21273b 100%)
  opacity: .94
  color: #ffffff
  font-size: 12px
  font-weight: bold

@mixin footerHeadline
  font-family: "Sansation", sans-serif
  font-size: 24px
  font-weight: bold
  margin: 40px 0

@mixin footerForm
  background-color: #191d2f
  box-shadow: inset 0 4px 13px #000
  background-clip: padding-box
  border: 1px solid #272727
  border-radius: 8px
  color: #b7b6b6


@mixin arrowElement
  position: absolute
  background: #ffffff
  width: 22px
  height: 22px

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* Space out content a bit
body
  background: #fff
  nav
    background: url("/images/backgroundTop.jpg") repeat
    margin-bottom: 0px
    border-bottom: 1px solid #171922
    @extend .navbar
    @extend .navbar-static-top
    .centering
      @extend .container
      .brandHeadline
        @extend .navbar-brand
        .nourLink
          font-size: 44px
          text-shadow: 0 3px 5px rgba(0,0,0,.75)
          font-family: "FiolexGirls"
          font-style: italic
          &:hover
            color: #e1e7f4
            text-decoration: none
      .responsiveButton
        background: #1a2135
        @extend .navbar-toggle
        .bar
          background: #e2e7f5
          @extend .icon-bar
      .navigationMain
        @extend .collapse
        @extend .navbar-collapse
        padding-right: 30px
        .navigaionCenter
          margin-top: 40px
        .navigationContent
          @extend .nav
          @extend .navbar-nav
          @extend .navbar-right
          @media (max-width: 768px)
            padding-top: 50px
          li
            margin-left: 10px
            a
              &:hover
                text-decoration: none
                background-color: #1b2238
                border-radius: 5px
                background-clip: padding-box
                box-shadow: inset 0 1px 4px rgba(0,0,0,.75)
                color: #e1e7f4
        .searchBox
          @extend .navbar-search
          @extend .pull-right
          margin: 12px 0px 0px 55px
          .searchBoxContent
            border-radius: 7px
            background-clip: padding-box
            background-color: #3a435b
            box-shadow: inset 0 1px 4px rgba(0, 0, 0, .75)
            border: none
            width: 170px
            height: 25px
            outline: none
          ::-webkit-input-placeholder
            font-size: 13px
            color: #e1e7f4
            font-weight: bold
            font-style: italic
            font-family: "Trebuchet MS"
            &:after
              content: url("/images/search.png")
              float: right
              padding: 2px 2px 0 0
          ::-moz-placeholder
            font-size: 13px
            color: #e1e7f4
            font-weight: bold
            font-style: italic
            font-family: "Trebuchet MS"
            &:after
              content: url("/images/search.png")
              float: right
              padding: 2px 2px 0 0
  #topSection
    background: url("/images/backgroundTop.jpg") repeat
    padding-top: 30px
    .topContent
      @extend .container
      .topWrapper
        @extend .row
        background: rgba(255, 255, 255, 0.1)
        margin-bottom: 30px
        border: 1px solid #161921
        box-shadow: 0 0 16px rgba(0,0,0,.75)
        .buySection
          @extend .col-md-6
          margin-top: 70px
          padding-left: 40px
          @media (max-width: 768px)
            max-width: 400px
            margin: 0 auto
          h2
            font-size: 25px
            color: #e1e6f4
            font-family: "Myriad Pro"
            text-transform: capitalize
            text-shadow: 2px 3px 0 rgba(0,0,0,.2)
          p
            font-size: 14px
            font-family: "Arial"
            color: #ffffff
            margin: 30px 0
          .buttonPurchase
            overflow: hidden
            width: 200px
            height: 45px
            background: #333a50
            border: 1px solid #111
            border-radius: 7px
            background-clip: padding-box
            box-shadow: 0 0 16px rgba(0,0,0,.75)
            outline: none
            margin: 20px 0 0 50px
            .purchaseElemnt
              display: inline-block
              color: #e1e6f4
              font-family: "Sansation", sans-serif
              font-size: 18px
              text-transform: uppercase
              text-shadow: 2px 3px 0 rgba(0,0,0,.2)
              float: left
              margin: 0
              padding: 7px 10px 10px 0px
              border-right: 1px solid #1b202f
            .dolarElement
              display: inline-block
              color: #e1e6f4
              font-family: "Sansation", sans-serif
              font-size: 14px
              text-shadow: 2px 3px 0 rgba(0,0,0,.2)
              border-left: 1px solid #42485c
              padding: 10px 6px 10px 8px
              margin: 0
        .exampleSection
          @extend .col-md-6
          @media (max-width: 768px)
            max-width: 340px
            margin: 10px auto
      .slogan
        @extend .row
        padding-bottom: 50px
        .sloganContent
          @extend .col-md-12
          h2
            color: #d9def3
            font-family: "Myriad Pro"
            font-size: 36px
            text-shadow: 2px 3px 0 rgba(0,0,0,.2)
            text-align: center
          p
            color: #c9cbcc
            font-family: "Arial"
            font-size: 14px
            text-align: center
  .descriptionSection
    border-bottom: 1px solid #cacbcd
    .descriptionContent
      @extend .container
      .descriptionWrapper
        @extend .row
        .whyOurProducts
          @extend .col-md-4
          padding-left: 30px
          border-right: 1px solid #e1e3e8
          overflow: hidden
          @media (max-width: 768px)
            border-right: none
            width: 240px
            margin: 0 auto
          h3
            color: #272f46
            font-family: "Sansation", sans-serif
            font-size: 27px
            font-weight: bold
          .productsBtn
            @include mainButton
            float: right
            margin: 0 50px 20px 0
        .exampleProducts
          @extend .col-md-8
          .exampleWrapper
            @extend .row
            overflow: hidden
            margin: 30px auto
            .exampleCentering
              margin: 0 auto
              display: table
              .sampleProd1
                @extend .col-md-3
                width: 130px
                height: 130px
                background: #fefeff
                border: 9px solid #c8c8ca
                margin: 0 20px 20px 0
                text-align: center
                color: #c9cbcc
                font-size: 12px
                font-weight: bold
                font-family: "Arial"
                padding-top: 20px
              .sampleProd2
                @extend .col-md-3
                @extend .sampleProd1
              .sampleProd3
                @extend .col-md-3
                @extend .sampleProd1
              .sampleProd4
                @extend .col-md-3
                @extend .sampleProd1
          .exampleBtn
            @include mainButton
            float: right
            margin-right: 70px
  .latestWorkSection
    .latestWorkContent
      @extend .container
      .latestWorkWrapper
        @extend .row
        .lastWorkHead
          @extend .col-md-12
          h2
            display: inline-block
          p
            display: inline-block
      #myCarousel
        @extend .carousel
        @extend .slide
        position: relative
        margin: 20px auto
        ol
          @extend .carousel-indicators
          position: absolute
          bottom: 0
        .myCarouselContent
          @extend .carousel-inner
          max-width: 900px
          margin: 0 auto
          .myCarouselWrapper
            @extend .item
            overflow: hidden
            background: url("/images/mainFrame.jpg")
            box-shadow: 0 0 7px rgba(0,0,0,.27), 0 0 5px rgba(255,255,255,.75)
            border: 1px solid #eeeff2
            .myCarouselElement
              float: left
              margin: 20px
              max-width: 178px
              display: inline-block
              img
                border: 1px solid #d1d1d1
                padding: 7px
                background: #ffffff
                margin-bottom: 5px
              .myCarouselCaption
                @extend .container
                .myCarouselCaptionContent
                  time
                    color: #397bbb
                  p
                    margin-top: 10px
        .leftArrowLink
          @include arrowElement
          top: -10px
          left: 108px
          @extend .left
          @extend .carousel-control
          .leftArrow
            @extend .glyphicon
            @extend .glyphicon-chevron-left
        .rightArrowLink
          @include arrowElement
          right: 109px
          top: -10px
          @extend .right
          @extend .carousel-control
          .rightArrow
            @extend .glyphicon
            @extend .glyphicon-chevron-right
  footer
    background-color: #3b4357
    background-image: radial-gradient(center center, 150px 150px, #677189 0%, #3b4357 100%)
    color: #f2f5fd
    padding-bottom: 70px
    .footerContent
      @extend .container
      .footerWrapper
        @extend .row
        .fBlog
          @extend .col-md-4
          padding-right: 140px
          .blogHeadline
            @include footerHeadline
            &:after
              content: url("/images/rss.png")
              padding-left: 5px
          .blogPosts
            overflow: hidden
            .blogBtn
              @include mainButton
              float: right
              @media (max-width: 768px)
                float: left
            p
              border-bottom: 1px solid #616a82
              margin: 25px 0
        .fConnect
          @extend .col-md-4
          .connectHeadline
            @include footerHeadline
          .connectSocial
            ul
              padding-left: 0
              li
                display: inline-block
                width: 60px
                height: 60px
                background-size: cover
              .youtubeTooltip
                display: -webkit-inline-box
                display: -moz-inline-box
                .youtube
                  background: url('/images/youtube.png') center
              .twitterTooltip
                display: -webkit-inline-box
                display: -moz-inline-box
                .twitter
                  background: url('/images/twitter.png') center
              .facebookTooltip
                display: -webkit-inline-box
                display: -moz-inline-box
                .facebook
                  background: url('/images/facebook.png') center
              .linkedinTooltip
                display: -webkit-inline-box
                display: -moz-inline-box
                .linkedin
                  background: url('/images/linkedin.png') center
          .newsletter
            .newsletterHeadline
              @include footerHeadline
              margin-bottom: 15px
            p
              padding-right: 50px
            .newsletterForm
              position: relative
              margin-top: 30px
              max-width: 260px
              .newsletterInput
                height: 32px
                width: 260px
                @include footerForm
              .newsletterBtn
                position: absolute
                top: 3px
                right: 0px
                background-color: #fff
                background-image: linear-gradient(top, #e1e7fa -25%, #191d2f 125%)
                border-radius: 7px
                background-clip: padding-box
        .fContact
          @extend .col-md-4
          .contactHeadline
            @include footerHeadline
          .fContactContent
            form
              .contactInputName
                @include footerForm
                display: inherit
                width: 220px
                height: 30px
              .contactInputEmail
                @include footerForm
                display: inherit
                width: 220px
                height: 30px
                margin: 15px 0
              .contactTextarea
                @include footerForm
                width: 220px
                height: 100px
            .connectBtn
              @include mainButton
              float: right
              margin: 64px 134px 0px 0px
              @media (max-width: 768px)
                float: left
  .copyrightSection
    background: #1f2538
    box-shadow: 0 0 7px rgba(0,0,0,.27), 0 0 5px rgba(103,103,103,.75)
    padding-top: 20px
    .copyrightContent
      @extend .container
      color: #f2f5fd
      font-family: "Arial"
      font-size: 14px
      font-style: italic
      .copyrightWrapper
        @extend .row
        .copyrightHeadline
          @extend .col-md-12
          overflow: hidden
          p
            display: inline-block
          address
            display: inline-block
            float: right
            @media (max-width: 320px)
              float: left


















