!!! 5
//if lt IE 7
  html.no-js.lt-ie9.lt-ie8.lt-ie7
//if IE 7
  html.no-js.lt-ie9.lt-ie8
//if IE 8
  html.no-js.lt-ie9
// [if gt IE 8] <!
html.no-js
  // <![endif]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title bootstrap
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width')
    // Place favicon.ico and apple-touch-icon.png in the root directory
    // build:css(.tmp) styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild
    // build:js scripts/vendor/modernizr.js
    script(src='bower_components/modernizr/modernizr.js')
    // endbuild
  body
    //if lt IE 10
      p.browsehappy
        | You are using an
        strong outdated
        | browser. Please
        a(href='http://browsehappy.com/') upgrade your browser
        | to improve your experience.
    nav
      .centering
        .brandHeadline
          h1
            a.nourLink(href='index.html') nour
        button.responsiveButton(data-toggle='collapse', data-target='.headerCollapse')
          span.bar
          span.bar
          span.bar
        .navigationMain.headerCollapse
          .navigaionCenter
            form.searchBox(action='')
              input.searchBoxContent(type='text', placeholder='search')
            ul.navigationContent
              li
                a(href='index.html') home
              li
                a(href='index.html') about
              li
                a(href='index.html') services
              li
                a(href='index.html') blog
              li
                a(href='index.html') portfolio
              li
                a(href='index.html') contact
    section#topSection
      .topContent
        .topWrapper
          .buySection
            h2 Nuevaq: Professional Template
              br
              | Perfect for Your Kick-ass Company.
            p This is an editable text, unleash your imagination with few little
              br
              |words that can express your product, say something descriptive.
            button.buttonPurchase
              p.purchaseElemnt purhase now
              p.dolarElement $15
          .exampleSection
            img(src='/images/showcase.png')
        .slogan
          .sloganContent
            h2 This area will rock out as a catchy tag line, use it wisely!
            p This is an editable text, unleash your imagination with few little words that can express your product, say something descriptive.
    section.descriptionSection
      .descriptionContent
        .descriptionWrapper
          .whyOurProducts
            h3 Why Pick Our
              br
              |Products?
            p This is an editable text, unleash
              br
              |your imagination with few little
              br
              |words that can express your product,
              br
              |say something descriptive
              br
              |and tell the user why he should get it.
            button.productsBtn Read more
          .exampleProducts
            .exampleWrapper
              .exampleCentering
                .sampleProd1
                  p Sample
                    br
                    |product
                .sampleProd2
                  p Sample
                    br
                    |product
                .sampleProd3
                  p Sample
                    br
                    |product
                .sampleProd4
                  p Sample
                    br
                    |product
              button.exampleBtn View more
    section.latestWorkSection
      .latestWorkContent
        .latestWorkWrapper
          header.lastWorkHead
            h2 Our Latest Works
            p This is an editable text, unleash your imagination with few little words that can express your product, say something
              |descriptive.
        #myCarousel(data-ride='carousel')
          ol
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
          .myCarouselContent
            .myCarouselWrapper.active
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2011
                    p.tekstss Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2011
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2011
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2011
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
            .myCarouselWrapper
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2012
                    p.tekstss Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2012
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2012
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2012
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
            .myCarouselWrapper
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2013
                    p.tekstss Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2013
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2013
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
              .myCarouselElement
                img(src='/images/thumb.png')
                .myCarouselCaption
                  .myCarouselCaptionContent
                    time(datetime='2011-03-11') March 11, 2013
                    p Lorem ipsum dolor sit
                      br
                      |amet, consectetur...
          a.leftArrowLink(href='#myCarousel', data-slide='prev')
            span.leftArrow
          a.rightArrowLink(href='#myCarousel', data-slide='next')
            span.rightArrow

    footer
      .footerContent
        .footerWrapper
          .fBlog
            h3.blogHeadline Latest blog post
            .blogPosts
              time(datetime='2011-03-19') Tuesday, March 19th, 2011
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .
              time(datetime='2011-03-19') Tuesday, March 19th, 2011
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor .
              button.blogBtn Read more
          .fConnect
            h3.connectHeadline Connect with us
            .connectSocial
              ul
                a#myTooltipY.youtubeTooltip(href='#', data-toggle="tooltip", title="Youtube")
                  li.youtube
                a#myTooltipT.twitterTooltip(href='#', data-toggle="tooltip", title="Twitter")
                  li.twitter
                a#myTooltipF.facebookTooltip(href='#', data-toggle="tooltip", title="Facebook")
                  li.facebook
                a#myTooltipL.linkedinTooltip(href='#', data-toggle="tooltip", title="Linkedin")
                  li.linkedin
            .newsletter
              h3.newsletterHeadline Newsletter Signup
              p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor ..
              .newsletterForm
                input.newsletterInput(type='text', placeholder='Email')
                button.newsletterBtn(type='button') Sign up
          .fContact
            h3.contactHeadline Contact Us
            .fContactContent
              form
                input.contactInputName(type='text', placeholder='Name')
                input.contactInputEmail(type='email', placeholder='Email')
                textarea.contactTextarea
              button.connectBtn Read more
    section.copyrightSection
      .copyrightContent
        .copyrightWrapper
          .copyrightHeadline
            p Copyright &copy 2003-2011 Nour Products
            address PremiumCoding.com











    // build:js scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/jquery.js')

    script(type='text/javascript')
      $('document').ready(function(){
        $('.carousel').carousel({
          interval: 2000
        });
      });

    script(type='text/javascript')
      $('document').ready(function(){

        $('#myTooltipY').tooltip();
        $('#myTooltipT').tooltip();
        $('#myTooltipF').tooltip();
        $('#myTooltipL').tooltip();
      });

    // endbower
    // endbuild
    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');
    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
    // build:js scripts/plugins.js
    script(src='bower_components/sass-bootstrap/js/affix.js')
    script(src='bower_components/sass-bootstrap/js/alert.js')
    script(src='bower_components/sass-bootstrap/js/dropdown.js')
    script(src='bower_components/sass-bootstrap/js/tooltip.js')
    script(src='bower_components/sass-bootstrap/js/modal.js')
    script(src='bower_components/sass-bootstrap/js/transition.js')
    script(src='bower_components/sass-bootstrap/js/button.js')
    script(src='bower_components/sass-bootstrap/js/popover.js')
    script(src='bower_components/sass-bootstrap/js/carousel.js')
    script(src='bower_components/sass-bootstrap/js/scrollspy.js')
    script(src='bower_components/sass-bootstrap/js/collapse.js')
    script(src='bower_components/sass-bootstrap/js/tab.js')
    // endbuild
                                     